
@font-face {
    font-family: 'futura';
    src: url(../font/futura/futura\ light\ bt.ttf);
}
@font-face {
    font-family: 'futura-bold';
    src: url(../font/futura/Futura\ XBlk\ BT.ttf);
}
html,
body {
    margin: 0;
    padding: 0;
    font-family: "futura";
    font-size: 1.1em;
    text-align: center;
    color: #FFF;
}

.hg-sidebar {
    background: #F34A4E;
}

.radar-content {
    color: #f3f5f8;
}

.radar {
    min-height: 100vh;
}

.radar,
.radar-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.radar-content {
    flex: 1 1 auto;
}

@media (min-width: 768px) {
    .radar-body {
        flex-direction: column;
    }
    .wordpress_title {
        width: 300px;
    }
    .wordpress_content {
        width: 922px;
    }
}

@media (min-width:960px) {
    .main-header .container {
        justify-content: space-between;
    }
    .wordpress_title {
        width: 600px;
    }
    .wordpress_content {
        width: 922px;
    }
}


.background,
.div_product,
.container {
    padding-right: 182px;
    padding-left: 182px;
}

.main-header .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.main-header {
    background: #07111d;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
}

.main-footer {			
    background: #060f1a;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
}

.main-nav a {
    font-size: 20px;    
    color: #FFFFFF;
    text-decoration: none;
}

.main-nav a:hover {
    color: #7351da;
}

.main-nav ul {
    margin: 0;
    padding: 0;
}

.main-nav ul {
    margin: 1em 0 .5em;
    text-align: center;
}

.main-nav a {
    margin: 10px;
}

.header-logo {			
    font-size: 32px;
    color: #FFFFFF;
    font-family: 'futura-bold';
}

.main-nav-list li {
    display: inline;    
}

.main-nav li:last-child a {

    width: fit-content;
}
.main-nav li:last-child {

    padding: 1px;
}
.background {
    background-color: #07111d;
    width:100%;
}
.div_wordpress {
    margin-left:200px;
    margin-right:200px;
    margin-top:95px;
}
.div_product {
    background-color: #f6f8fa;
}
.wordpress_title {
    font-size: 70px;    
    font-family:'futura';
}
.wordpress_content {
    color: #8ea5c6;    
    font-size: 21px;
    font-family:'futura';
}
.product_title{
    color: #4e5559
}
.product_content {
    color: #818181;
    text-align: initial;	    
}
.product_title {
    font-size: 48px;
    font-family:'Futura';
}
.product_two_row {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 20px;
}
@media (min-width: 768px) {
    .product_two_row {
        flex-direction: row;
    }
}
.future_title {
    font-size: 54px;
    color: #FFFFFF;
    font-family:'futura';
    margin:0px;
    padding:0px;
}
.future_content {
    font-size: 24px;
    color: #c8c8c8;
    font-family:'futura';
}
